!!! Strict 5
%html
  .container
    %head
      = csrf_meta_tag 
      = stylesheet_link_tag 'blueprint/screen', :media => 'screen' 
      = stylesheet_link_tag 'blueprint/print',  :media => 'print' 
      = stylesheet_link_tag 'stinky/velveeta', :media => 'screen'  
    %body
      %header 
        =image_tag("dumb_small.png", :alt => "noob", :class => "round")
        %h2 this is my dumbwebsite
        %nav                                             
          %ul                                                      
            %li                                                    
            =link_to  "cheese", 'milk/cheese'                      
            %li                                                    
            =link_to  "butter", 'milk/butter'                      
            %li                                                    
            =link_to  "cream", 'milk/cream'  
            %li                                                    
            =link_to  "breadcrumbs", 'milk/breadcrumbs'                      
                                                         
      %section   
      = yield    
    
      
  #footer &copy; Copyright 2011 milktrader 